* {
  font-family: "Source Sans Pro", HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
li {
  list-style-type: none;
  text-transform: uppercase;
  margin-right: 2em;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #34323b;
}
.logo {
  width: 15em;
  margin-right: 8em;
  margin-left: 3em;
}
a {
  text-decoration: none;
  color: #34323b;
}
nav button {
  width: 150px;
  height: 3.2em;
  background-color: #ff5964;
  border: none;
  color: white;
  font-family: Montserrat, sans-serif;
  margin-left: 16em;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
/* button{
    width: 200px;
    background-color: #FF5964;
    border: none;
    color: white;
    font-family: Montserrat, sans-serif;

} */
main{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #454448;
}
main h1
{
    height: auto;
    width: 300px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 51px;
    line-height: 41px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}
main p{
    height: 100px;
    width: 385px;
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
main button{
    height: 45px;
    width: 170px;
    background-color: #454448;
    border: 2px solid white;
    text-transform: uppercase;
    color: white;
    font-size: 0.75rem;
    line-height: 24px;
    font-weight: 400;
    transition: all .3s ease-out;
}
main button:hover{
    height: 45px;
    width: 170px;
    background-color: white;
    border: 2px solid white;
    text-transform: uppercase;
    color: #ff5964;
    font-size: 0.75rem;
    line-height: 24px;
    font-weight: 400;
    transition: all .3s ease-out;
}
.heroImg{
    height:180px;
    background-color: #F4F4F7;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}
.rowPara{
    font-size: 14px;
    color: #b8b7bc;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    margin-bottom: 2em;
}
.imgRow{
    
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.imgRow img{
    height: 70px;
    width: 70px;
    opacity: 1;
}